* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
html {
  background-color: #252530;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: pointer;
}

.button {
  border-radius: 10px;
  border: none;
  padding: 3px 10px;
  font-size: 8px;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.button_hollow {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 4px 12px;
  text-transform: uppercase;
}

.rarr {
  display: none;
  position: absolute;
  bottom: 0;
  right: -30px;
}

.button_dark:hover {
  background-color: #d9d9d9;
  color: #000;
  cursor: pointer;
}

.button_light:hover {
  background-color: #262626;
  color: rgb(254, 214, 114) !important;
  cursor: pointer;
}

.text_dark {
  color: #000 !important;
  z-index: 5;
}

.small h1 {
  font-family: "Corben", serif;
  max-width: 300px;
  font-size: 25px;
}

.big .article-item__latin {
  max-width: 400px;
}

.small .article-item__latin {
  max-width: 200px;
}

.big h1 {
  font-family: "Corben", serif;
  max-width: 500px;
  font-size: 30px;
}

.smile {
  display: inline-block;
  opacity: 1;
  font-size: 12px;
}

.main {
  display: grid;
  grid-template-areas: "big big small1 small2" "big big small3 small4";
  gap: 1em;
  grid-template-columns: 1fr 1fr repeat(5, 1fr);
  height: 419px;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 10px;
}
.main .main-shadow {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-item:hover {
  cursor: pointer;
  transform: translateY(-8px);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
.main-item {
  overflow: hidden;
  z-index: 11;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
}
.main-item__button {
  font-size: 8px;
  font-weight: 900;
  text-transform: uppercase;
  top: 15px;
  left: 20px;
  position: absolute;
  letter-spacing: 0.1em;
}
.main-item__text {
  padding-left: 20px;
  padding-bottom: 20px;
}
.main-item__small {
  color: #fff;
}
.main-item__p {
  font-size: 38px;
  font-weight: 900;
  color: #fff;
}
.main-item:nth-child(1) {
  background: url("../img/main/main1.jpg") no-repeat center;
  background-size: cover;
  grid-area: big;
  grid-row: span 2;
  grid-column: span 3;
}
.main-item:nth-child(2) .main-shadow {
  z-index: -1;
  background-color: rgba(20, 35, 255, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-item:nth-child(2) {
  grid-area: small1;
  background: url("../img/main/main2.jpg") no-repeat center;
  background-size: cover;
  grid-row: span 1;
  grid-column: span 2;
}
.main-item:nth-child(3) {
  grid-area: small2;
  background: #FFB469;
  grid-row: span 1;
  grid-column: span 2;
}
.main-item:nth-child(4) .main-shadow {
  z-index: -1;
  background-color: rgba(119, 0, 143, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-item:nth-child(4) {
  grid-area: small3;
  background: url("../img/main/main3.jpg") no-repeat center;
  background-size: cover;
  grid-row: span 1;
  grid-column: span 2;
}
.main-item:nth-child(5) .main-shadow {
  z-index: -1;
  background-color: rgba(255, 158, 216, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-item:nth-child(5) {
  grid-area: small4;
  background: url("../img/main/main4.jpg") no-repeat center;
  background-size: cover;
  grid-row: span 1;
  grid-column: span 2;
}
.main-item:nth-child(5) h3, .main-item:nth-child(5) small {
  color: #000;
}
.main-item:nth-child(3) h3, .main-item:nth-child(3) small {
  color: #000;
}
.main-item:nth-child(5) button {
  background-color: #333350;
  color: rgb(255, 158, 216);
  font-weight: normal;
}
.main-item:nth-child(3) button {
  color: #FFB469;
  background-color: #333350;
}
.main-item:nth-child(2) button {
  color: rgb(20, 35, 255);
}
.main-item:nth-child(4) button {
  color: rgb(119, 0, 143);
}
.main-item_small h3 {
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-bottom: 80px;
}
.header__nav {
  z-index: 6;
  position: relative;
}
.header__nav a:first-child::before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F4AD66;
  content: "";
  padding: 1px;
  position: absolute;
  left: 47px;
  top: -1px;
}
.header__nav a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #ebebeb;
  text-decoration: none;
  position: relative;
  margin-right: 15px;
}
.header__nav a:last-child svg {
  width: 17px;
  height: 17px;
  margin: 0 0 -3px 5px;
  list-style: none;
  fill: #ebebeb;
}
.header__nav_m:hover::after {
  background-color: #666666;
}
.header__nav_m::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: transparent;
  content: "";
  padding: 1px;
  position: absolute;
  right: -6px;
  top: -1px;
}
.header__logo {
  z-index: 6;
  cursor: pointer;
}
.header__logo img {
  max-height: 35px;
  max-width: 100%;
}
.header-fixed {
  position: fixed;
  background-color: #262626;
  height: 54px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  z-index: 100;
}
.header-fixed__logo {
  cursor: pointer;
}
.header-fixed__logo {
  height: 18px;
  width: 152px;
  float: left;
  margin-left: 20px;
}
.header-fixed__button button {
  padding: 10px 20px;
  vertical-align: middle;
  border-radius: 4px;
  float: right;
  color: #ebebeb;
  background-color: #82b440;
  margin-right: 20px;
}
.header-fixed__button button:hover {
  background: #74a139;
  cursor: pointer;
}
.header-textFixed {
  position: fixed;
  top: 425px;
  left: -63px;
  color: #fff;
  font-size: 12px;
  transform: rotate(-90deg);
}

.mainBig {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.mainBig-block {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border-radius: 25px;
  color: rgb(235, 235, 235);
  overflow: hidden;
  z-index: 1;
  font-family: "Corben", serif;
}
.mainBig-block__h1:hover .rarr {
  display: block;
}
.mainBig-block__h1 {
  font-size: 45px;
  position: relative;
  max-width: 800px;
  font-family: "Corben", serif;
  font-weight: 900;
}
.mainBig-block__latin {
  display: block;
  font-size: 24px;
  max-width: 750px;
}
.mainBig-block__small {
  color: rgb(235, 235, 235);
  display: block;
  margin-top: 20px;
}
.mainBig-block:nth-child(1)::after {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.mainBig-block:nth-child(2) .mainBig-block__latin::before {
  border-top: solid 2px black;
  content: "";
  padding: 15px;
  font-weight: 900;
  position: absolute;
  margin-top: -10px;
}
.mainBig-block:nth-child(1) button {
  color: #fff;
}
.mainBig-block:nth-child(3) button {
  color: #fff;
}
.mainBig-block:nth-child(3) button:hover {
  background-color: #fff;
  color: #000;
}
.mainBig-block:nth-child(1) button:hover {
  background-color: #fff;
  color: #000;
}
.mainBig-block:nth-child(1) {
  background: url("../img/main/mainbig1.jpg") center;
  background-size: 100%;
  height: 550px;
}
.mainBig-block:nth-child(2)::after {
  z-index: -1;
  background-color: rgba(254, 214, 114, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.mainBig-block:nth-child(2) {
  background: url("../img/main/mainbig2.jpg") center;
  background-size: 100%;
  color: #333350;
  height: 670px;
}
.mainBig-block:nth-child(2) button {
  color: #000;
  border: 1px solid black;
}
.mainBig-block:nth-child(2) small {
  color: #000;
}
.mainBig-block:nth-child(2) h1:hover .rarr {
  right: 30px;
  bottom: 0;
}
.mainBig-block:nth-child(3)::after {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.mainBig-block:nth-child(3) {
  background: url("../img/main/mainbig3.jpg") center;
  background-size: 100%;
  height: 600px;
}
.mainBig-block:nth-child(3) h1:hover .rarr {
  right: 270px;
  bottom: 0;
}
.mainBig-block:hover {
  transition: background-size 0.5s ease-in;
  cursor: pointer;
  background-size: 105%;
}

.article {
  margin-bottom: 20px;
  padding-bottom: 40px;
}
.article-item:nth-child(2) .article_wrap {
  margin-bottom: 100px;
}
.article-item:nth-child(3) .article_wrap {
  margin-bottom: 95px;
}
.article-item:nth-child(5) .article_wrap {
  margin-bottom: 25px;
}
.article-item {
  cursor: pointer;
  border-radius: 15px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  color: #fff;
  z-index: 5;
  overflow: hidden;
}
.article-item__h1:hover .rarr {
  display: block;
}
.article-item__latin {
  max-width: 300px;
}
.article-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5em;
}
.article-header {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 20px;
}
.article-item:nth-child(1) button:hover {
  background-color: #000;
  color: rgb(238, 190, 255);
  cursor: pointer;
}
.article-item:nth-child(1) button {
  color: #333350;
  border: 1px solid black;
}
.article-item:nth-child(2) button:hover {
  background-color: #000;
  color: #FFB469;
  cursor: pointer;
}
.article-item:nth-child(2) button {
  color: #333350;
  border: 1px solid black;
}
.article-item:nth-child(3) button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.article-item:nth-child(3) button {
  color: #ebebeb;
  border: 1px solid white;
}
.article-item:nth-child(5) button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.article-item:nth-child(5) button {
  color: #ebebeb;
  border: 1px solid white;
}
.article-item:nth-child(4) button:hover {
  background-color: #000;
  color: rgb(255, 158, 216);
  cursor: pointer;
}
.article-item:nth-child(4) button {
  color: #333350;
  border: 1px solid black;
}
.article-item:nth-child(1) {
  grid-row: span 3;
  grid-column: span 3;
  background: url("../img/articles/article1.jpg") center;
  background-size: 100%;
  position: relative;
}
.article-item:nth-child(1)::before {
  z-index: -1;
  background-color: rgba(238, 190, 255, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.article-item:nth-child(2) {
  grid-row: span 3;
  grid-column: span 3;
  background: url("../img/articles/article2.jpg") center;
  background-size: 100%;
}
.article-item:nth-child(2)::before {
  z-index: -1;
  background-color: rgba(255, 180, 105, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
}
.article-item:nth-child(3)::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
.article-item:nth-child(4)::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(255, 158, 216, 0.8);
  height: 100%;
  width: 100%;
}
.article-item:nth-child(5)::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
.article-item:nth-child(2) h1 {
  color: #333350;
}
.article-item:nth-child(2) .article-item__author {
  color: #333350;
}
.article-item:nth-child(1) .article-item__author {
  margin-top: 35px;
}
.article-item:nth-child(1) .article-item__latin::before {
  border-top: solid 1px black;
  content: "";
  padding: 10px;
  position: absolute;
  margin-top: -10px;
}
.article-item:nth-child(4) .article-item__latin::before {
  border-top: solid 1px black;
  content: "";
  padding: 10px;
  position: absolute;
  margin-top: -10px;
}
.article-item:nth-child(5) .article-item__latin::before {
  border-top: solid 1px white;
  content: "";
  padding: 10px;
  position: absolute;
  margin-top: -10px;
}
.article-item:nth-child(1) h1 {
  color: #333350;
}
.article-item:nth-child(4) h1 {
  color: #333350;
}
.article-item:nth-child(4) .article-item__author {
  margin-top: 30px;
}
.article-item:nth-child(5) .article-item__author {
  margin-top: 25px;
}
.article-item:nth-child(3) h1 {
  color: #ebebeb;
}
.article-item:nth-child(5) h1 {
  color: #ebebeb;
}
.article-item:nth-child(3) {
  grid-row: span 2;
  grid-column: span 2;
  background: url("../img/articles/article3.jpg") center no-repeat;
  background-size: 100%;
}
.article-item:nth-child(4) {
  grid-row: span 2;
  grid-column: span 2;
  background: url("../img/articles/article4.jpg") center no-repeat;
  background-size: 200%;
}
.article-item:nth-child(5) {
  grid-row: span 2;
  grid-column: span 2;
  background: url("../img/articles/article5.jpg") center no-repeat;
  background-size: 100%;
}
.article-item:nth-child(4):hover {
  transition: background-size 0.5s ease-in;
  background-size: 210%;
  cursor: pointer;
}
.article-item:hover {
  transition: background-size 0.5s ease-in;
  background-size: 105%;
}
.article-button button:hover {
  background-color: #FFB469;
  color: #333350;
  cursor: pointer;
}
.article-button button {
  letter-spacing: 0.2em;
  width: 80%;
  background-color: #363643;
  padding: 30px 0;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  margin-top: 35px;
  font-size: 12px;
}
.article-button {
  text-align: center;
}

.form {
  padding-bottom: 140px;
}
.form-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-email {
  text-align: center;
  margin-top: 20px;
}
.form-email input {
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid white;
  width: 70%;
  outline: none;
  background-color: #252530;
  margin-bottom: 15px;
  margin-top: 15px;
  caret-color: #fff;
}
.form-email input:focus {
  transition: width 0.5s ease-in;
  width: 90%;
}
.form-email input[placeholder] {
  text-align: center;
  font-size: 18px;
}
.form h1 {
  font-size: 39px;
  max-width: 600px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 5px;
  font-family: "Corben", serif;
}
.form-button {
  text-align: center;
}

.form-wrap button:hover {
  background-color: #FFB469;
  color: #333350;
  cursor: pointer;
}

.form-wrap button {
  margin-top: 27px;
  width: 25%;
  font-size: 11px;
  padding: 30px 30px;
  background-color: #363643;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  letter-spacing: 0.3em;
}

.form-wrap {
  margin-top: 50px;
}

.article-item h1:hover .rarr {
  display: block;
}

.article-item:nth-child(1) h1 .rarr {
  right: 355px;
}

.article-item:nth-child(2) h1 .rarr {
  right: 369px;
}

.article-item:nth-child(3) h1 .rarr {
  right: 149px;
}

.article-item:nth-child(4) h1 .rarr {
  right: 97px;
}

.article-item:nth-child(5) h1 .rarr {
  right: 87px;
}

.article-item h1 {
  position: relative;
}

.form-descr {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.form-descr span {
  position: relative;
}
.form-descr span::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  border-left: 2px solid white;
  background: #252530;
  animation: typing 5s steps(26) infinite;
}

@keyframes typing {
  50% {
    left: 100%;
    margin: 0 -5px 0 0px;
  }
  100% {
    right: 100%;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding-bottom: 10px;
}
.footer__nav {
  z-index: 6;
  position: relative;
}
.footer__nav a:first-child::before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F4AD66;
  content: "";
  padding: 1px;
  position: absolute;
  left: 47px;
  top: -1px;
}
.footer__nav a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ebebeb;
  text-decoration: none;
  position: relative;
  margin-right: 15px;
}
.footer__nav a:last-child svg {
  width: 17px;
  height: 17px;
  margin: 0 0 -3px 5px;
  list-style: none;
  fill: #ebebeb;
}
.footer__nav_m:hover::after {
  background-color: #666666;
}
.footer__nav_m::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: transparent;
  content: "";
  padding: 1px;
  position: absolute;
  right: -6px;
  top: -1px;
}

.footer-social svg {
  fill: #ebebeb;
  width: 20px;
  height: 20px;
  margin-left: 25px;
}
.footer-social a svg:hover {
  fill: #FFB469;
}
.footer-author {
  font-size: 10px;
  line-height: 1.3;
  text-align: left;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #ebebeb;
  opacity: 0.8;
  display: inline-block;
  padding-bottom: 30px;
}

/*# sourceMappingURL=styles.css.map */
